.footer-area {
    background-color: #161D5A;
    color: #fff;
}

.footer-area .foot-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icon-list {
    display: inline-block;
}

.fa {
    padding: 10px 10px;
    font-size: 12px;
    width: 24px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover{
    opacity: 0.7;
}

.fa-facebook {
    background: #55ACEE;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #55ACEE;
    color: white;
}

.github {
    color: #55ACEE;
}

.github:hover {
    color: #E5973E;
}