.main-area {
    background-color: lightgray;
}

.intro-box {
    background-image: url(../images/background.JPG);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.intro-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(250, 250, 250);
}

.to-button {
    background-color: rgb(250, 250, 250);
    border: none;
    padding: 10px 24px;
    color: #161D5A;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 1em;
}

.intro-text a:hover {
    background-color: #E5973E;
}

.card-1 {
    background-color: rgb(250, 250, 250);
    border-radius: 1em;
    margin: 2em 2em 2em 5em;
}

.card-heading {
    color: #161D5A;
    padding-left: 1.5em;
}

.card-intro {
    margin-bottom: 3em;
    padding-left: 1em;
    padding-right: 1em;
}

.card-2 {
    margin: 1em 2em 1em 1em;
    height: auto;
}

.fig-caption {
    font-size: 16px;
}

.card a:hover {
    color: red;
}

.visit-img {
    max-width: 100%;
    height: auto;
}