.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;
}

.header-area {
    grid-column: 1 / 4;
}

aside {
    grid-column: 1 / 2;
    
}

main {
    grid-column: 2 / 4;
}

.footer-area {
    grid-column: 1 / 4;
}