body {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.blog-area {
    padding: 2em;
    margin: 0 2em 0 2em;
}

.blog-area img {
    width: 100%;
    height: 100%;
}

.return {
    margin-bottom: 1em;
}

.about {
  font-size: 18px;
}

form {
    border: 2px solid lightgray;
    padding-left: 1em;
    font-size: 16px;
}
  
.sub-container {
    padding: 20px;
    background-color: white;
 }
  
input[type=text], input[type=submit] {
    width: 80%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
  
input[type=submit] {
    background-color: #161D5A;
    color: white;
    border: none;
}
  
input[type=submit]:hover {
    opacity: 0.8;
}
